Improve MediaType.isCompatible

MediaType.isCompatible will match a concrete non wildcard media type against a wildcard type whose subtype has a qualifier, for example, "application/xml" will be found to be compatible with "**/**+json" which confuses the users.

Consider updating the followng

```
(type.equals(MEDIA_TYPE_WILDCARD) || other.type.equals(MEDIA_TYPE_WILDCARD)
```

to

```
(type.equals(MEDIA_TYPE_WILDCARD) || other.type.equals(MEDIA_TYPE_WILDCARD) && 

(subtype.equals(MEDIA_TYPE_WILDCARD) || other.subtype.equals(MEDIA_TYPE_WILDCARD)
```
#### Affected Versions
[2.0.1]

ping ;)

What about introducing a new method `MediaType#isWildCardCompatible` and deprecating the old `isCompatible` method?

To again highlight the problem:
Having a 
`@Consumes("*/json")` also matches if you send `application/octet-stream`.
Which is completely counter intuitive.

Otoh I didn't find any hint in the JAX-RS spec that `MediaType#isCompatible` MUST be used in `@Consumes`?

I mainly looked at 3.7.2 Request Matching/3
It talks about distances and * matches. But not whether this might match the type or subtype.

Another thing to look into. RFC-6838 https://datatracker.ietf.org/doc/rfc6838/?include_text=1 
only gives examples for text/*. Not for */xml or similar.

Otoh RFC-2045 might also contain useful information about the original intent. https://www.ietf.org/rfc/rfc2045.txt




> On Jun 26, 2018, at 3:08 AM, Mark Struberg <notifications@github.com> wrote:
> 
> ping ;)
> 
> What about introducing a new method MediaType#isWildCardCompatible and deprecating the old isCompatible method?
> 
> To again highlight the problem:
> Having a
> @Consumes("*/json") also matches if you send application/octet-stream.
> Which is completely counter intuitive.
> 

 The specification does not allow this to happen. In particular, Step 3a in Section 3.7.2 filters methods according to @Consumes via a reference to Section 3.5. Types “*/json” and “application/octet-stream” do not match.

 Sounds like an implementation issue. Are you using Jersey?

— Santiago

> Otoh I didn't find any hint in the JAX-RS spec that MediaType#isCompatible MUST be used in @Consumes?
> 
> I mainly looked at 3.7.2 Request Matching/3
> It talks about distances and * matches. But not whether this might match the type or subtype.
> 
> Another thing to look into. RFC-6838 https://datatracker.ietf.org/doc/rfc6838/?include_text=1 <https://datatracker.ietf.org/doc/rfc6838/?include_text=1>
> only gives examples for text/*. Not for */xml or similar.
> 
> Otoh RFC-2045 might also contain useful information about the original intent. https://www.ietf.org/rfc/rfc2045.txt <https://www.ietf.org/rfc/rfc2045.txt>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub <https://github.com/eclipse-ee4j/jaxrs-api/issues/543#issuecomment-400202930>, or mute the thread <https://github.com/notifications/unsubscribe-auth/AFU9N9FG-NBkw3sA10DsiNIet9JHvc9pks5uAd3jgaJpZM4U3W9y>.
> 



Hey @spericas it seems to me that this might be an implementation-defect within JAX-RS API itself. Specifically, the implementation of `javax.ws.rs.core.MediaType#isCompatible` looks like this:
```java
    /**
     * Check if this media type is compatible with another media type. E.g. image/* is compatible with image/jpeg,
     * image/png, etc. Media type parameters are ignored. The function is commutative.
     *
     * @param other the media type to compare with.
     * @return true if the types are compatible, false otherwise.
     */
    public boolean isCompatible(final MediaType other) {
        return other != null && // return false if other is null, else
                (type.equals(MEDIA_TYPE_WILDCARD) || other.type.equals(MEDIA_TYPE_WILDCARD) || // both are wildcard types, or
                        (type.equalsIgnoreCase(other.type) && (subtype.equals(MEDIA_TYPE_WILDCARD)
                                || other.subtype.equals(MEDIA_TYPE_WILDCARD)))
                        || // same types, wildcard sub-types, or
                        (type.equalsIgnoreCase(other.type) && this.subtype.equalsIgnoreCase(other.subtype))); // same types & sub-types
    }
```

For the first condition, the comment says that the media types would match only if both types are wildcards, but it uses an OR operator instead of AND. I was able to reproduce the issue with the following test case added to `javax.ws.rs.core.MediaTypeTest`:
```java
    @Test
    public void testWildcardTypeIncompatibleWithNonWildcardType() {
        MediaType wildcard = new MediaType(MediaType.MEDIA_TYPE_WILDCARD, "json");
        MediaType notWildcard = MediaType.APPLICATION_OCTET_STREAM_TYPE;

        assertFalse(wildcard.isCompatible(notWildcard));
        assertFalse(notWildcard.isCompatible(wildcard));
    }
```

So it seems that either the comment or the implementation is wrong. What do you think?

@sberyozkin There is progress on this issue. You were the original reporter.

It would be great if more people could review #700. Any help is welcome.

@chkal yeah, the spec doesn't seem so clear here—I'm inclined towards agreeing with the OP that this is likely a bug caused by a missing parentheses.

Okay, after some more digging it seems that as per [RFC 2616 section 14.1](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.1), specifying a media type with wildcard type and explicit subtype is considered to be invalid when used as a value for the `Accept` header. So the question I guess, is whether to allow declaring such a media type as a value for resource classes/methods' `@Consumes` declarations, or to treat them as invalid.

Treating it as invalid would break backwards compatibility. If we do that, we need to introduce it not before 3.x.